@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  @apply transition-colors duration-500 ease-in-out;
}

/* Scrollbar Dark Mode */
.dark ::-webkit-scrollbar-thumb {
  background-color: #44403c;
  /* Stone 700 */
}

.dark ::-webkit-scrollbar-track {
  background: #1c1917;
  /* Stone 900 */
}